.city-search-form {
    max-width: 700px;
    width: 80vw;
    height: 90px;
    background-color: white;
    border-radius: 20px;

    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 320px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.15);
}

.city-search-form select {
    width: 55%;
    padding: 3px;
    border-radius: 8px;
    height: 30px;
    user-select: none;
}

.city-search-form button {
    cursor: pointer;
    color: white;
    background-color: #3A5295;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 8px;
}


@media  (max-width: 550px) {
    .city-search-form {
        flex-direction: column;
    }
}