.property-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 320px;
    height: 400px;

    border: 1px solid #CED3D8;
    border-radius: 24px;
}

.property-container h3 {
    font-size: 1.2rem;
    font-weight: 400;
}

.property-container p {
    font-size: 0.8rem;
}

.property-container svg {
    font-size: 1.3rem;
}

.image-wrapper {
    width: 100%;
    height: 50%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 24px 24px 0 0;
}

.price-and-rooms {
    width: 100%;
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #3A5295;
    color: white;
}

.rooms {
    display: flex;
    gap: 30px;
}

.rooms p {
    display: flex;
    align-items: center;
    gap: 5px;
}

.building-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    font-weight: 800;
}

.location {
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.view-home-button {
    cursor: pointer;
    flex-grow: 1;
    width: 100%;
    border-radius: 0 0 24px 24px;
    border: none;
    border-top: 1px solid #CED3D8;
    background-color: white;
    transition: all 0.2s;
}

.view-home-button:hover {
    background-color: #3A5295;
    color: white;
}