.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #00A2E1;
    color: white;
}

.header-links {
    display: flex;
    gap: 30px;
}

.header-container a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;

    gap: 6px;
}

.header-home>a {
    font-size: 1.5rem;
}

.header-home img {
    transform: translateY(-3px);
}